.content {
  background-color: $bg-main;
}

.content__features {
  margin-bottom: 30px;
}

.content__booking {
  margin-bottom: 50px;
}

.content__map {
  margin-bottom: 40px;
}

.content__review {
  margin-bottom: 80px;
}

.content__photogallery {
  margin-bottom: 40px;
}

.content__videogallery {
  margin-bottom: 80px;
}
